<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body bgcolor="235937" text="FFCC33">

	<div id="header" class="block">
    <h1 style="text-align: center">Error:</h1>
    </div>

    <div id="content" class="block" style="text-align: center">
        <p style="margin-left: 25%; max-width: 50%">
            The pin you have entered was either incorrect, invalid or was indicated to be the wrong photo.
            To get a new pin, please report to the KIOSK and get another picture taken the old one if remaining will
            be deleted. <br /><br />Please press the 'Back' button to return to the main page to retry your pin if you entered it wrong,
            otherwise press the 'Close' button close the site.<br />
        </p>
        <p>
            <button onclick="window.location.href='/'">Back</button>
        </p>
    </div>
</body>

</html>