<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration Confirmation</title>
</head>
<body bgcolor="235937" text="FFCC33">

	<div id="header" class="block" style="background-color: #ffffff ">
            <img src="images.jpeg" style=" display: block; margin-left: auto; margin-right: auto;">
            <h1 style="text-align:center;margin-right: auto;margin-left: auto;">Welcome to SUNY Oswego's People Counter Kiosk @ Shinemin Hall!</h1>
        </div>

    <div id="content" class"block" style="text-align: center">
        <p style="margin-right: auto;margin-left: auto;; max-width: 50%">
            Congratulations! You have successfully registered your picture with our Kiosk system! To take full advantage of
            this registration, feel free to check out the robot on display within Shineman Hall's South-West Enterence to be recognized and greeted. Thank you for your participation! <br />
        </p>
    </div>
</body>
</html>