<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration Confirmation</title>
    <img src="images.jpeg" style="width: 200px; height: 200px; position: absolute; top: 0px; right: 0px">
</head>
<body bgcolor="Green" text="yellow">

	<div id="header" class="block">
    <h1>Welcome!</h1>
    </div>

    <div id="content" class"block" style="text-align: center">
        <p style="margin-left: 25%; max-width: 50%">
            Congratulations! You have successfully registered your picture with our Kiosk system! To take full advantage of
            this registration, if you interact with camera that you took your picture at it will use your picture to recognize
            you and greet you. Thank you for your registration! <br /><br />Please press the 'Ok' button to close the site.<br />
        </p>
        <p>
            <button onclick="self.close()">Ok</button>
        </p>
    </div>
</body>
</html>