<html>
<head>
    <meta charset="utf-8" />
    <title > People Counter Kiosk </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body bgcolor="235937" text="FFCC33">

<div id="header" class="block" style="background-color: #ffffff ">
    <img src="{{url_for('static', filename= 'logo.jpeg')}}" style=" display: block; margin-left: auto; margin-right: auto;">
    <h1 style="text-align:center;margin-right: auto;margin-left: auto;">Welcome to SUNY Oswego's People Counter Kiosk @ Shineman Hall!</h1>
    <br />
</div>

<div id="content" class="block" style="text-align: center">
    <br />
    <h2 style="text-align:center;text-decoration: underline;">Facial Recognition Registration</h2>


    <form method="POST" action="{{ url_for('form') }}" enctype = "multipart/form-data">
        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name }}
        <ul>
        {% for error in form.name.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
        </ul>
        <br />
        <br />
        <input type = "file" name = "file" accept=".png,.jpeg,.jpg"/>
       <input type="submit" value="Submit">

        <footer>
            <br />
            <p>To learn more visit our <a href="/aboutus">About Us Page</a> here!</p>
        </footer>
        </form>
</div>
</body>
</html>